In [4]:
import pandas as pd
import csv

dataset = pd.read_csv('C:/Users/Zosia/Desktop/przedmioty/AiBD/AiBD/lab2/OriginalData/earthquake_data.csv')
df = pd.DataFrame(dataset)
df.head(4)

,"In general, how worried are you about earthquakes?","How worried are you about the Big One, a massive, catastrophic earthquake?","Do you think the ""Big One"" will occur in your lifetime?",Have you ever experienced an earthquake?,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",How familiar are you with the San Andreas Fault line?,How familiar are you with the Yellowstone Supervolcano?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,Not at all worried,Not so worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,Prefer not to answer,New England
1,Somewhat worried,Very worried,No,"Yes, one or more minor ones",No,Not at all familiar,Not at all familiar,18 - 29,Male,"$75,000 to $99,999",East North Central
2,Not so worried,Somewhat worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,"$10,000 to $24,999",Pacific
3,Not so worried,Not so worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",West South Central

In [5]:
#Wybrane kolumny
cols = [2, 7, 8]
df_extracted = df[df.columns[cols]]
df_extracted.to_csv('earthquake_data_extracted.csv')
df_extracted

,"Do you think the ""Big One"" will occur in your lifetime?",Age,What is your gender?
0,No,18 - 29,Male
1,No,18 - 29,Male
2,No,18 - 29,Male
3,No,18 - 29,Male
4,Yes,18 - 29,Male
...,...,...,...
1008,No,60,Male
1009,No,60,Female
1010,No,30 - 44,Female
1011,No,30 - 44,Female
1012,No,NaN,NaN

In [9]:
# Zmiana nazw kolumn
col_name = {'In general, how worried are you about earthquakes?':'Q1', 
'How worried are you about the Big One, a massive, catastrophic earthquake?':'Q2', 
'Do you think the "Big One" will occur in your lifetime?':'Q3', 
'Have you ever experienced an earthquake?':'Q4', 
'Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?':'Q5', 
'How familiar are you with the San Andreas Fault line?':'Q6', 
'How familiar are you with the Yellowstone Supervolcano?':'Q7', 
'Age':'Q8', 
'What is your gender?':'Q9', 
'How much total combined money did all members of your HOUSEHOLD earn last year?':'Q10', 
'US Region':'Q11'}

df_changed_cols = df.rename(columns = col_name)
df_changed_cols.to_csv('earthquake_data_changed_cols.csv')
df_changed_cols

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11
0,Not at all worried,Not so worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,Prefer not to answer,New England
1,Somewhat worried,Very worried,No,"Yes, one or more minor ones",No,Not at all familiar,Not at all familiar,18 - 29,Male,"$75,000 to $99,999",East North Central
2,Not so worried,Somewhat worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,"$10,000 to $24,999",Pacific
3,Not so worried,Not so worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",West South Central
4,Not so worried,Not so worried,Yes,"Yes, one or more minor ones",No,Somewhat familiar,Extremely familiar,18 - 29,Male,"$200,000 and up",Middle Atlantic
...,...,...,...,...,...,...,...,...,...,...,...
1008,Not at all worried,Not at all worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,60,Male,Prefer not to answer,Pacific
1009,Not so worried,Somewhat worried,No,"Yes, one or more major ones",Yes,Extremely familiar,Somewhat familiar,60,Female,"$50,000 to $74,999",Pacific
1010,Not so worried,Extremely worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Somewhat familiar,30 - 44,Female,Prefer not to answer,Middle Atlantic
1011,Not at all worried,Not so worried,No,No,No,Somewhat familiar,Somewhat familiar,30 - 44,Female,"$50,000 to $74,999",East North Central
1012,Somewhat worried,Not so worried,No,"Yes, one or more minor ones",No,NaN,NaN,NaN,NaN,NaN,NaN